<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731030304061-k8fj8s6pmok0arpnmcsl63hokr7miavv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731030304061-k8fj8s6pmok0arpnmcsl63hokr7miavv</string>
	<key>API_KEY</key>
	<string>AIzaSyAmYuXM_3_fPfsklus-BXvEm1B-Wa4djNM</string>
	<key>GCM_SENDER_ID</key>
	<string>731030304061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umc.MyChore</string>
	<key>PROJECT_ID</key>
	<string>mychore-167ae</string>
	<key>STORAGE_BUCKET</key>
	<string>mychore-167ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731030304061:ios:74dea96f46ce24e56ec154</string>
</dict>
</plist>